<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>
    <title><%= title(@conn) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <main role="main">
      <%= render_navigation(@conn) %>

      <%= if @flash != %{} do %>
        <div role="alert" class="help is-size-6 is-danger"><%= Phoenix.Flash.get(@flash, :error) %></div>
        <div role="alert" class="help is-size-6 is-success"><%= Phoenix.Flash.get(@flash, :info) %></div>
        <div role="alert" class="help is-size-6 is-info"><%= Phoenix.Flash.get(@flash, :notice) %></div>
      <% end %>

      <%= @inner_content %>
    </main>
  </body>
</html>
