<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone code</th>
      <th>Phone</th>
      <th>Email</th>
      <th>City</th>
      <th>Address</th>
      <th>Notes</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= live_render(@conn, PjeskiWeb.ClientIndexLive) %>
  </tbody>
</table>

<span><%= link "New Client", to: Routes.client_path(@conn, :new) %></span>
