.modal-card {overflow: auto}
.overwrite-padding-top-120 {padding-top: 120px}
.overwrite-fullwidth {width: 100%}
.overwrite-fullheight {height: 100%}
.overwrite-width90 {width: 90%}
.overwrite-height90 {height: 90%}
.sticky {top: 0px; position: -webkit-sticky; position: sticky}
.is-clickable {cursor: pointer}
.prewrapped {white-space: pre-line;}
img {max-width:100%; height:auto}
.scrollable-vh75 {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
}
.z-index-39 { z-index: 39; }
.media-inside-modal-overwrite {
    max-height: 90vh;
    -o-object-fit: contain;
    object-fit: contain;
}
.hide-overflow {overflow: hidden;}
