.modal-card {overflow: auto}
.overwrite-padding-top-120 {padding-top: 120px};
.overwrite-fullwidth {width: 100%}
.sticky {top: 0px; position: -webkit-sticky; position: sticky}
.is-clickable {cursor: pointer}
.prewrapped {white-space: pre-line;}
img {max-width:100%; height:auto}
.scrollable-vh75 {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
}
.z-index-39 { z-index: 39; }
