/* This file is for your main application css. */

@import 'bulma.min.css';
@import 'admin.css';
@import 'global/table.css';
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.sticky {
  top: 0px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.overwrite-fullwidth {width: 100%}
.overwrite-padding-top-60 {padding-top: 60px}
