@import 'bulma.min.css';
@import 'select2.min.css';

@import 'admin.css';
@import 'global/bulma-select2.scss';
@import 'global/table.css';
@import 'global/hacks.css';
@import 'global/drop-area.css';
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/dropzone/dist/min/dropzone.min.css";
