<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= gettext("Subscriptions") %>
      </h1>
      <h2 class="subtitle">
        <%= gettext("All DeerStorage subscriptions") %>
      </h2>
    </div>
  </div>
</section>
