<%= if @conn.assigns.current_subscription do %>
  <%= live_render(
      @conn,
      PjeskiWeb.SubscriptionNavigationLive,
      container: {:div, class: "navbar is-dark"},
      session: %{
        "header_text" => header_text(@conn),
        "subscription_id" => @conn.assigns.current_subscription.id,
        "subscription_tables" => @conn.assigns.current_subscription.deer_tables,
        "locale" => @conn.assigns.locale
      }
  ) %>
<% end %>
